/*!
Theme Name: Projexon
Theme URI: https://www.templatemonster.com/wordpress-themes/prod-14994.html
Author: Zemez
Author URI: https://www.templatemonster.com/authors/zemez/
Description: Projexon - truely multipurpose WordPress theme for real life projects. Built with love and care by Zemez.
Version: 1.1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: projexon
Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-menu, featured-images, post-formats, sticky-post, theme-options, threaded-comments, translation-ready, grid-layout, custom-header, custom-logo, footer-widgets, flexible-header, blog
DocumentationID: projexon
Template Id: prod-14994

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Projexon is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Grid
# Typography
# Elements
	## Lists
	## Tables
	## Icons
	## Preloader
	## ToTop button
# Forms
	## Buttons
	## Fields
	## Search-form
	## Comment-form
	## Password-form
# Navigation
	## Links
	## Top Menu
	## Main Menu
	## Vertical menu
	## Footer Menu
	## Paginations
	## Breadcrumbs
	## Social List
	## Toggle buttons
# Modules
	## Accessibility
	## Alignments
	## Clearings
	## Comments
	## Swiper
	## Author Bio
	## Share Buttons
	## Contact block
	## Magnific Popup
# Components
	## Card
# Content
	## Layout
	## Header
	## Posts and pages
	## Post Formats
	## Footer
# Widgets
	## Defaults
	## About author
	## About Projexon
	## Banner
	## Carousel
	## Contact Information
	## Custom Posts
	## Featured Posts Block
	## Instagram
	## Image Grid
	## News Smart Box
	## Playlist Slider
	## Smart Slider
	## Subscribe
	## Taxonomy Tiles
# Media
	## Captions
	## Galleries
	## Embeds
# Plugins
	## Contact Form 7
	## Power Builder
	## Cherry Service List
	## WPML - Polylang
# Woocommerce Part

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
}

body {
  margin: 0;
  overflow: auto;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-family: Proxima-Nova-Regular-Bold;
  font-weight: 500;
  color: #113873;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  image-rendering: -webkit-optimize-contrast;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0px;
}

code {
  font-size: 1em;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 20px 20px;
}

@media (max-width: 500px) {
  .tableau-validite tr td + td {
    display: none;
  }
  td,
  th {
    padding: 10px 10px;
  }
}
/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.00806rem;
  padding-right: 1.00806rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.00806rem;
  margin-right: -1.00806rem;
}

.row:before,
.row:after {
  content: none !important;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  font-size: 16px;
  font-family: Proxima-Nova-Regular;
  color: #494a4c;
}

h1 {
  font-size: 30px;
  font-family: Proxima-Nova-Regular-Bold;
  color: #ffbc00;
  margin: 0 0 15px;
  text-transform: uppercase;
}

h2,
.h2-style {
  font-size: 20px;
  font-family: Proxima-Nova-Regular-Bold;
  color: #06285a;
  margin: 40px 0 15px;
  padding: 0 0 10px;
  text-transform: uppercase;
}

h2:before,
.h2-style:before {
  content: " ";
  position: absolute;
  width: 120px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #ffbc00;
  z-index: 1;
  margin-bottom: 15px;
}

h3 {
  font-size: 16px;
  font-family: proxima-Nova-Semibold;
  color: #06285a;
  margin: 30px 0 10px 0;
}

h4 {
  font-size: 20px;
  font-family: proxima-Nova-Semibold;
  color: #06285a;
  margin: auto;
}

h5 {
  font-size: 20px;
  font-family: proxima-Nova-Semibold;
  color: #06285a;
  margin: auto;
}

h6 {
  font-size: 16px;
  font-family: Proxima-Nova-Regular-Bold;
  color: #06285a;
  margin: auto;
  font-weight: 500;
}

body,
h1,
h2,
.h2-style,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: inherit;
  line-height: normal;
}

p {
  margin: 0 0 14px;
}

p:last-child {
  margin-bottom: 0;
}

.single .post > .entry-content > p:first-of-type:first-letter {
  font-size: 22px;
  font-size: 1.46667rem;
  font-weight: 500;
  float: left;
  margin: 5px 13px 2px 0;
  line-height: 1;
  padding: 19px 25px;
  position: relative;
}

@-moz-document url-prefix() {
  .single .post > .entry-content > p:first-of-type:first-letter {
    padding: 17px 23px;
  }
}
dfn,
em,
i {
  font-style: italic;
}

address {
  margin: 0 0 1.4em;
}

code,
tt,
var {
  font-size: 15px;
  font-size: 1rem;
}

code {
  padding: 2px;
}

acronym {
  cursor: help;
  border-bottom: 1px dotted #777;
}

ins {
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  /* Fallback for when there is no custom background color defined. */
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: top;
}

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
ul,
ol {
  margin: 0 0 25px 0;
  padding-left: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

p + ol {
  margin-top: 25px;
}

p + ul {
  margin-top: -5px;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 38px;
}

/* Inline list */
/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
table {
  margin: 10px 0 24px 0;
  width: 100%;
}

/*--------------------------------------------------------------
## Icons
--------------------------------------------------------------*/
/* Set icons font family */
/* Prev buttons icon */
/* Next buttons icon */
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
form button,
form input[type=button],
form input[type=reset],
form input[type=submit] {
  line-height: 2;
  display: inline-block;
  max-width: 100%;
  padding: 17px 29px 15px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-width: 0;
  line-height: 1.32em;
  border-style: solid;
  letter-spacing: 0.05em;
  transition: 0.3s ease-out;
}

form button,
form button:hover,
form input[type=button],
form input[type=button]:hover,
form input[type=reset],
form input[type=reset]:hover,
form input[type=submit],
form input[type=submit]:hover {
  text-decoration: none;
}

form button:focus,
form input[type=button]:focus,
form input[type=reset]:focus,
form input[type=submit]:focus {
  outline: 0;
}

form button:active,
form input[type=button]:active,
form input[type=reset]:active,
form input[type=submit]:active {
  box-shadow: none;
}

form button[class*=btn][class*=btn-]:active,
form input[type=button][class*=btn][class*=btn-]:active,
form input[type=reset][class*=btn][class*=btn-]:active,
form input[type=submit][class*=btn][class*=btn-]:active {
  box-shadow: none;
}

.link {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.link:hover {
  text-decoration: none;
}

.image-validate-button {
  vertical-align: sub;
  width: 20px;
  height: auto;
  margin-right: 6px;
}

/*--------------------------------------------------------------
## Fields
--------------------------------------------------------------*/
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
select,
textarea {
  padding: 11.5px 19px 16.5px;
  border: none;
  line-height: 1.5;
  transition: 0.3s;
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=date] {
  padding: 11.5px 19px 12.5px;
  height: 45px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=datetime],
input[type=datetime-local],
input[type=color] {
  min-height: 45px;
}

input[type=file] {
  line-height: 1.5;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel] {
  -webkit-hyphens: none;
  hyphens: none;
}

select {
  max-width: 100%;
}

textarea {
  width: 100%;
  height: 196px;
  min-height: 196px;
  vertical-align: top;
  resize: vertical;
  overflow: auto;
}

/* Input Placeholders */
::-webkit-input-placeholder {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: inherit;
}

::-moz-placeholder {
  -moz-transition: 0.1s;
  transition: 0.1s;
  color: inherit;
}

:-moz-placeholder {
  -moz-transition: 0.1s;
  transition: 0.1s;
  color: inherit;
}

:-ms-input-placeholder {
  -ms-transition: 0.1s;
  transition: 0.1s;
  color: inherit;
}

::-moz-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  opacity: 1;
}

/*--------------------------------------------------------------
## Search-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comment-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Password-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  transition: 0.3s linear;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

.entry-content p a:hover,
.entry-content p a:active {
  text-decoration: none;
}

/*--------------------------------------------------------------
## Top Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Main Menu
--------------------------------------------------------------*/
/* Basic */
/* Skin */
/* Menu items description */
/* Mobile style */
/*--------------------------------------------------------------
## Vertical menu
--------------------------------------------------------------*/
/*rtl:begin:ignore*/
/*rtl:end:ignore*/
/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Paginations
--------------------------------------------------------------*/
.post-navigation {
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 36px;
  position: relative;
}

.post-navigation:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  left: 50%;
  top: 0;
}

@media (max-width: 599px) {
  .post-navigation:before {
    display: none;
  }
}
.post-navigation img {
  display: inline-block;
}

/*Post pagination - Page links*/
.pagination {
  margin-top: 30px;
  padding-top: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
}

#content .nav-links {
  overflow: hidden;
}

/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Social List
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Toggle buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 13.125px;
  font-size: 0.875rem;
  font-weight: 500;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
/*rtl:begin:ignore*/
/*rtl:end:ignore*/
/*--------------------------------------------------------------
## Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after {
  clear: both;
}

.hidden {
  display: none;
}

/*--------------------------------------------------------------
## Share
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact block
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Magnific Popup
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Countdown timer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Card
--------------------------------------------------------------*/
.card {
  display: block;
}

/*--------------------------------------------------------------
### Grid layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Masonry layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Vertical Justify layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@keyframes stickup {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Hentry (WordPress native CSS-class for post/page article)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Posts-list
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Entry (header, content, meta, footer)
--------------------------------------------------------------*/
.entry-title {
  margin: 0;
}

.single-post .entry-title {
  margin-bottom: 3px;
  line-height: 1.25;
}

.entry-meta:empty {
  display: none;
}

.entry-meta > *:not(:last-child) {
  margin-right: 4px;
}

.single-post .post .entry-footer > *:first-child {
  margin-top: 25px;
}

/*--------------------------------------------------------------
### Post attributes (thumbnail, meta)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Single post
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Related posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Archive page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Sticky Post
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.sticky .entry-title a {
  vertical-align: middle;
}

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
/* Aside */
/* Image pop-up */
a[data-popup=magnificPopup] {
  display: block;
  position: relative;
  cursor: zoom-in;
}

a[data-popup=magnificPopup]:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-out;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

a[data-popup=magnificPopup]:after {
  color: #ffffff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "\ed31";
  font-size: 30px;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 1;
  text-align: center;
  margin: -1.25rem 0 0 -1.25rem;
  transform: scale(0) translate3d(0, 0, 0);
  transition: all 0.4s ease-out;
}

a[data-popup=magnificPopup]:hover:before {
  opacity: 1;
}

a[data-popup=magnificPopup]:hover:after {
  transform: scale(1) translate3d(0, 0, 0);
}

a[data-popup=magnificPopup]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget:not(:last-child) {
  margin-bottom: 60px;
}

.sidebar .widget:not(:last-child) {
  margin-bottom: 40px;
}

.widget .scheduled-time {
  margin-top: 15px;
}

.widget .scheduled-time i {
  margin-right: 2px;
}

.widget-title {
  margin-bottom: 1.33em;
}

.sidebar .widget-title {
  padding-bottom: 19px;
  position: relative;
  line-height: 18px;
  margin-bottom: 20px;
}

.sidebar .widget-title:before {
  bottom: 0;
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 3px;
}

.widget select {
  max-width: 100%;
}

.sidebar {
  margin-top: 70px;
}

@media (min-width: 900px) {
  .sidebar {
    margin-top: 0;
  }
}
/*--------------------------------------------------------------
## Defaults
--------------------------------------------------------------*/
.widget ul {
  margin-bottom: 0;
  padding: 0;
  margin-left: 0;
  list-style: none;
}

.widget ul li + li,
.widget ul li > ul li,
.widget ul li > ol li {
  margin-top: 6px;
}

.widget ul li > ul {
  margin-left: 10px;
}

/*--------------------------------------------------------------
## Widget Calendar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Widget Tag Cloud
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Widget Recent Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Widget Nav Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Widget Recent Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Widget RSS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Widget Archives - Categories
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Textwidget
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## About author
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## About Projexon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Information
--------------------------------------------------------------*/
.contact-information-widget__inner > li {
  margin-bottom: 5px;
}

.contact-information-widget__inner li {
  margin-left: 0;
  position: relative;
  padding-left: 45px;
  list-style-type: none;
}

.contact-information-widget__inner li:not(:first-child),
.contact-information-widget__inner li:not(.footer-area .contact-information-widget__inner li) {
  margin-top: 27px;
}

.contact-information-widget__inner li h6 {
  margin-bottom: 2px;
}

.contact-information-widget__inner li .icon {
  font-size: 30px;
  line-height: 1em;
  position: absolute;
  left: 0;
  top: 4px;
}

.contact-information-widget__inner li ul li {
  padding-left: 0;
}

.contact-information-widget__inner li ul:not([class]) > li:before {
  display: none;
}

.contact-information-widget__inner li p {
  margin-bottom: 8px;
}

.contact-information-widget__inner li p a {
  text-decoration: none;
}

.contact-information-widget__inner li p + ul,
.contact-information-widget__inner li p + ol {
  margin-top: 0;
  margin-left: 0;
}

/*--------------------------------------------------------------
## Custom Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Featured Posts Block
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Image Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## News Smart Box
--------------------------------------------------------------*/
@keyframes tm-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/*--------------------------------------------------------------
## Playlist Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Smart Slider
--------------------------------------------------------------*/
/*rtl:begin:ignore*/
/*rtl:end:ignore*/
/*--------------------------------------------------------------
## Subscribe
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Taxonomy Tiles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

iframe {
  display: block;
  width: 100%;
}

/*rtl:begin:ignore*/
/*rtl:end:ignore*/
/* Fullscreen image */
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
  font-size: 11.25px;
  font-size: 0.75rem;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
/* Audio */
/* Video */
/* Facebook embed */
/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Form 7
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## ELementor Builder
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Admin
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Accordion
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Adv-carousel
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Animated-box
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Brands
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Counter
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Icon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Icon-box
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Icon-list
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Image-box
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Misc
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Progress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Pricing-table
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Tabs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Toggle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Typography
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Jet Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Jet download button
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Service List
--------------------------------------------------------------*/
/* Change default indent to Cherry Service List Grid System */
/* Single style */
/* Services headings */
/* Filters and loaders */
/* Services item */
/*Template default*/
/*Template media-icon*/
/*Template sidebar-media-icon*/
/*Template template-media-icon-bg*/
/*Template template-media-icon-bg-2*/
/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
/* Wishlist compare buttons */
/*-------------------------------------------------------------
## Simple-file-downloader
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Icon contact
--------------------------------------------------------------*/
.contact-information-widget__inner li .icon {
  color: #ffbc00;
}

/*-------------------------------------------------------------
## Dynamic.css
--------------------------------------------------------------*/
/* #Pages */
/* #404 page */
/*-------------------------------------------------------------
## Dynamic Boutton
--------------------------------------------------------------*/
/* #Button Appearance Styles */
.boutton {
  display: inline-block;
  border-radius: 0.35em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  height: 3.25em;
  line-height: 3.25em;
  padding: 0 1.5em;
  cursor: pointer;
  border: 0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: 0;
  background-color: #ffbc00;
}

.transparent-on-hover {
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
}

.transparent-on-hover:hover {
  opacity: 0.6;
}

.moove-top-on-hover {
  -ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.moove-top-on-hover:hover {
  -ms-box-shadow: 0px 7px 19px -4px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px 7px 19px -4px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 7px 19px -4px rgba(0, 0, 0, 0.35);
  margin-top: -3px;
  margin-bottom: 3px;
}

.link,
a[href*="?media_dl="] {
  font-weight: 500;
  font-size: 14px;
  font-family: proxima-Nova-Semibold;
}

a[href*="?media_dl="] {
  color: #ffffff;
  background-color: #ffbc00;
}

a[href*="?media_dl="]:hover {
  color: #ffffff;
  background-color: #113873;
}

/*-------------------------------------------------------------
## Dynamic Elements
--------------------------------------------------------------*/
/* #Elements */
blockquote {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.44;
  font-family: proxima-Nova-Semibold;
  color: #06285a;
  background-color: #f5f6f6;
}

.invert blockquote {
  color: #ffffff;
}

blockquote:before {
  color: #ffbc00;
}

code {
  color: #ffffff;
  background-color: #113873;
  font-family: Proxima-Nova-Regular;
}

.single-post .post > .entry-content > p:first-of-type:first-letter {
  background-color: #ffbc00;
  color: #ffffff;
  font-family: proxima-Nova-Semibold;
}

/* List */
/* Page preloader */
/* #ToTop button */
/*-------------------------------------------------------------
## Dynamic Form
--------------------------------------------------------------*/
/* #Form buttons */
form button,
form input[type=button],
form input[type=reset],
form input[type=submit] {
  font-weight: 500;
  font-size: 13px;
  font-family: "Proxima-Nova-Regular-Bold";
}

/* #Fields */
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
select,
textarea {
  background-color: #f5f6f6;
  color: #848a90;
  box-shadow: inset 0 0 0 1px #f5f6f6;
}

select {
  color: #494a4c;
}

/* #Search Form */
/* #Comment, Contact, Password Forms */
[class^=comment-form-] i {
  color: #cecfd0;
}

.invert ::-webkit-input-placeholder {
  color: #ffffff;
}

.invert ::-moz-placeholder {
  color: #ffffff;
}

.invert :-moz-placeholder {
  color: #ffffff;
}

.invert :-ms-input-placeholder {
  color: #ffffff;
}

/*-------------------------------------------------------------
## Dynamic Menu
--------------------------------------------------------------*/
/* #Menus */
.footer-menu {
  font-family: proxima-Nova-Semibold;
  font-size: 14px;
}

/* #Main Menu */
/* #Vertical-Mobile menu */
/* ##Menu toggle */
/* ##Menu-item desc */
/* #Footer Menu */
.footer-menu a {
  color: #06285a;
}

.footer-menu a:hover {
  color: #ffbc00;
}

.invert .footer-menu a {
  color: #ffffff;
}

.invert .footer-menu a:hover {
  color: #ffbc00;
}

/* #Top Menu */
/*-------------------------------------------------------------
## Dynamic Misc
--------------------------------------------------------------*/
/* #Magnific Popup*/
/* #Swiper navigation*/
.swiper-pagination-bullet {
  background-color: #f5f6f6;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover {
  background-color: #848a90;
}

/*Contact block*/
/*Tables*/
/*Title decoration*/
.swiper-slide {
  width: 100%;
}

/*-------------------------------------------------------------
## Dynamic Pagination
--------------------------------------------------------------*/
/* #Breadcrumbs */
/*-------------------------------------------------------------
## Dynamic Post
--------------------------------------------------------------*/
/* #Post */
/* #Sidebar */
/* #Sticky label */
/* #Entry Meta */
.entry-meta {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.75;
  font-family: Proxima-Nova-Regular;
  letter-spacing: 0em;
}

/* #Post Format */
/* #Single posts */
/* #Comments */
/* comment */
/* author bio */
/* Audio list */
/*temp*/
/* #wp-video */
.site-content ul li {
  margin-left: 20px;
  margin-top: 2px;
}

h2:before,
.h2-style:before {
  bottom: -10px;
}

body,
h1,
h2,
.h2-style,
h3,
h4,
h5 {
  position: relative;
}

/*-------------------------------------------------------------
## Iframe rappel conseiller
--------------------------------------------------------------*/
.iframe-container-rappel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6784313725);
  z-index: 1000;
  display: flex;
  transition: opacity 0.15s linear;
  opacity: 0;
  visibility: hidden;
}

.iframe-Rappel {
  width: 100%;
  max-width: 700px;
  margin: auto;
  height: 100%;
  max-height: 510px;
  transition: opacity 0.15s linear;
}

@media screen and (max-width: 550px) {
  .iframe-Rappel {
    max-height: 660px;
  }
}
.h2-liste-communes-first {
  margin-top: 0;
}

/* Diagnostic immobilier (par commune) */
/* Liste */
.table-matieres-content {
  font-family: "proxima-Nova-Semibold";
  color: #05285a;
  margin-bottom: 10px;
}

.table-matieres-content:hover {
  cursor: pointer;
  color: rgba(5, 40, 90, 0.6392156863);
}

.table-matieres {
  display: inline-flex;
  flex-direction: column;
  margin: 20px 0;
  font-size: 18px;
  margin-left: -20px;
}

.table-matieres li {
  margin-bottom: 10px;
  list-style-type: none;
}

.table-matieres .emoji {
  filter: hue-rotate(75deg);
}

/* Anchor titre */
.anchor-titre {
  position: relative;
  top: -150px;
}

/* Caption sous images */
figcaption {
  font-size: 14px;
  margin-top: 5px;
  font-family: Proxima-Nova-Light;
}/*# sourceMappingURL=Style.css.map */